<a mat-list-item (mouseover)="show()" (mouseleave)="hide()" (click)="onItemSelected(item)" [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}">
    <!-- <mat-icon class="routeIcon">{{item.iconName}}</mat-icon> -->
    <i [ngClass]='item.iconName' class="routeIcon"></i>
    <span class="title_name">{{item.displayName}}</span>
    <span fxFlex *ngIf="item.children && item.children.length">
    <span fxFlex></span>
    <!-- <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
        expand_more
    </mat-icon> -->
    </span>
</a>
<div *ngIf="expanded">
    <app-menu-list-item *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
    </app-menu-list-item>
</div>
<div class="sub-menu" *ngIf="isToggle">Default Prediction Model</div>